{#
   Banner text
   Banner with content

   @type {include}

#}

<div class="banner-text text-center pt-16 pb-12 md:py-14 bg-primary theme-dark"  data-aos="fade">
    <div class="container mx-auto">
        <div class="relative text-center inline-block">
            <div class="relative z-10">
                <h3 class="mb-1 font-bold">Over 25 Years of Heritage</h3>
                <p class="text-md">In manufacturing personal protective equipment for industry and healthcare</p>
            </div>
            <div class="absolute -top-1 md:top-4 -left-2 transform -translate-y-1/2 md:-translate-x-1/2">
                <img data-src="{{ siteUrl ~ 'uploads/images/manufacture-badge.svg' }}" alt="Manufactured in the UK" class="lazy-load">
            </div>
        </div>
    </div>
</div>
