{#
   Banner Background
   Banner with content over background

   @type {include}

#}

{% set full = {
    mode: 'crop',
    width: 1520,
    height: 450,
    quality: 75,
    position: 'center'
} %}


<div class="theme-dark lg:px-10 banner-background"  data-aos="fade">
    <div data-bg="{{ craft.assets().filename('uk-manufacturing.jpg').one().getUrl(full) }}" class="lazy-load bg-cover bg-center py-12 md:py-28 bg-primary">
        <div class="container text-center">
            <div class="relative text-center md:w-1/2 ml-auto pt-2">
                <h2 class="font-bold mb-3">UK Manufacturing</h2>
                <div class="max-w-md mx-auto">
                    <p class="text-md md:text-sm">Our group stategy is to manufacture 75% of our products in the UK, which has been accelerated in response to the COVID-19 crisis, with the commissioning of two new factories in England and Scotland.</p>
                    <div class="buttons pt-6">
                        <div>
                            {% include '_components/button/secondary' with {'type': 'a', 'button': {'text': 'Read More', 'url': '#'}} %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
