{#
   Field Select
   Outputs a select field with the correct markup

   @type {include}
   @param {integer} id
   @param {string} label
   @param {string} name
   @param {string} value
   @param {array} options
   @param {string} attributes
   @param {string} placeholder
   @param {bool} multiple
   @param {bool} required
#}

{% set id = id ?? (label is defined ? label|kebab : 'select-' ~ random(100,999)) %}

{% if label is defined %}
   {% include '_components/field/label' %}
{% endif %}

{% set baseClass = '
   transition
   appearance-none
   flex
   items-center
   w-full
   h-13
   lg:h-auto
   pl-4
   pr-10
   lg:pl-2
   lg:pr-5
   bg-white
   text-black
   text-base
   leading-tight
   font-medium
   focus:outline-none
   border
   border-gray-200
   lg:border-none
' %}

{% set class = class is defined ? baseClass ~ ' ' ~ class : baseClass %}

<div class="relative" x-on:click="mobileFilterOpen = ! mobileFilterOpen">
   <span class="absolute right-6 lg:right-0 pointer-events-none top-1/2 transform -translate-y-1/2">
        <svg width="9" height="5" xmlns="http://www.w3.org/2000/svg"><g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="02-Search-Results" transform="translate(-1340 -243)" fill="#000" fill-rule="nonzero"><path d="M1344.886 247.452l3.516-3.52a.546.546 0 00-.386-.932h-7.035a.546.546 0 00-.386.932l3.517 3.52c.213.213.56.213.774 0z" id=""/></g></g></svg>
   </span>
   <div 
      class="{{ class }}"
   >
    {% if placeholder is defined %}
        <span>{{ placeholder }}</span>
    {% endif %}
   </div>
</div>
