{% extends "_layout/global" %}

{% block content %}

    {% include '_layout/block' with {'block': 'pageHeader', 'container': false, 'data': {'title': 'Healthcare', 'text': '<p>Lorem ipsum is simply dummy text of the printing and typesetting industy. been the industry\'s standard dummy text ever since the 1500s, Lorem Ipsum.</p>', 'image': craft.assets().filename('ALP-APP-2530V-0121.jpg').one()}} %}

    {% set products = {
        'items': [
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one(), 'tag': 'New in'},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},
            {'href': '#', 'title': 'H Series 0920', 'subtitle': 'Alpha Solway', 'image': craft.assets().filename('ALP-HX-3-1020_1.jpg').one()},

        ]
    }
    
    %}

    {% include '_layout/block' with {'block': 'productLoop', 'blockClass': 'py-14 lg:py-20', 'data': products} %}

{% endblock %}