{% extends "_layout/global" %}

{% block content %}

    {% include '_layout/block' with {'block': 'pageHeader', 'container': false, 'data': {'title': 'Privacy', 'image': craft.assets().filename('ALP-APP-L1-CHEMASTER.jpg').one()}} %}

    {% set textContent = {
        'content': 
        '
        <p>This policy applies to personal information collected on websites owned or controlled by Globus (Shetland) Limited and Alpha Solway Limited (collectively referred to in this policy as “Globus Group”, “we”, "us" or "our").
Globus Group values the personal information you provide to us and we wouldn’t want to use it in a way that you won’t expect.</p>
        <p>This Policy explains when and why we collect personal information about people who visit our website, how we use it, the conditions under which we may disclose it to others and how we keep it secure.</p>
        <p>We may change this Policy from time to time so please check this page occasionally to ensure that you’re happy with any changes. By using our website, you’re agreeing to be bound by this Policy.</p>
        <p>If you want to change the way in which we use your data or if you have a question about how your personal information is used please contact us using one of the methods below:</p>
        <p>• Email: privacy@globusgroup.com<br>
            • Phone: 0161 8774747<br>
            • Post: Globus (Shetland) Ltd,  T2 Trafford Point, Twining Road, Trafford Park, Manchester, M17 1SH</p>
        <h4>Who we are</h4>
        <p>We are Globus Group, world leaders in protecting people.<br>
        • Our company registration number is SC149147</br>
        • Our office is registered at C/O Tait & Peterson, Bank of Scotland Buildings, Lerwick, Shetland, ZE1 0EB</p>
        <h4>The information you provide to us</h4>
        <p>When you provide your information to us directly via our website, over the phone or face to face we only ask you to supply information that we need in order to provide the service you have requested. We will normally ask you to provide us with:</p>
        <p>
            • your name<br>
            • your contact details<br>
            • your company details<br>
            • and in the case of Riley, your eye prescription
        </p>
        <p>However, if you do business with us we may also ask for further information about you or your company including finance details.</p>
        <p>You may also provide your information to us via another website for example a Linkedin Group when you enquire about our products and services.</p>
        <p>In addition, we may automatically collect information about the website that you came from or are going to. We also collect information about the pages of this website which you visit, IP addresses, the type of browser you use and the times you access this website. However, this information is aggregated and is not used to identify you.</p>
        <h4>Information provided to us by other companies</h4>
        <p>When you provide your information to us directly via our website, over the phone or face to face we only ask you to supply information that we need in order to provide the service you have requested. We will normally ask you to provide us with:</p>
        <p>Occasionally we may contact you using personal data provided to us by other companies. We take careful steps to ensure that they have permission from you to allow us to do this. If you feel this is incorrect please let us know.</p>
        <p>We supply data processing services to our customers who provide us with personal data of their customers. Any personal data provided to us in this manner has been collected under our clients’ privacy notices and we encourage you to read these to understand how they handle your personal data.</p>
        <h4>Information provided to us via cookies</h4>
        <p>Our website uses cookies which are small data text files that are sent from a server computer during a browsing session. Cookies are typically stored on your computer’s hard drive and are used by websites to simulate a continuous connection to that site.</p>
        <p>In order to make our site more responsive to your needs we use cookies to track and manage information relative to your specific interests. In this way, we can tailor our site to your needs, deliver a better and more personalised service and track the pages on our site that you visit. The use of cookies automatically identifies your browser to our computers whenever you interact with our site.</p>
        <p>We use a combination of both session and persistent cookies. Session cookies keep track of your current visit and how you navigate the site, persistent cookies enable our website to recognise you as a repeat visitor when you return. The session cookies will be deleted from your computer when you close your browser. Persistent cookies will be removed on a pre-determined expiry date, or when deleted by you.</p>
        <p>
            <strong>Google Analytics Cookies</strong><br>
            Google Analytics is a website monitoring tool that allows users to see volumes of website visitors, their source, and to analyse how the content of their website is viewed and navigated. This in turn allows optimisation of the content and pages, and the marketing programs that drive traffic to the website. Google Analytics does not store any personal information about website visitors, but does use persistent cookies to identify repeat visitors. 
        </p>
        <p>
            <strong>GatorLeads Cookies</strong><br>
            GatorLeads is a tool that identifies the business or organisation that website visitors belong to, based on a reverse IP Lookup. GatorLeads also use cookies to process this identification, and personal information about individual users is stored. Cookies used by GatorLeads store information about your current web browsing session (pages viewed, time on site etc) and the dates and times of previous website visits.
        </p>
        <p>This information is used by us to profile website visitors, in order to better understand the way in which our website content is viewed by different segments.</p>
        <p>
            <strong>Email Marketing Post-Click Tracking Cookies</strong><br>
            These cookies are used to report on the pages of Globus Group that have been viewed by visitors to the site who have followed links from our email marketing campaigns. This analysis helps us to understand additional content that is viewed by the contacts in our database and therefore allows us to improve and tailor future campaigns to those contact’s specific areas of interest.
        </p>
        <p>
            You should note that if you do disable cookies, you may not be able to access all the services on this site.
        </p>
        <h4>How we use your data</h4>
        <p>We use your personal information in a number of ways to:</p>
        <p>• provide you with the service or information you’ve requested<br>
        • undertake customer service surveys to ensure we continually improve our services to 
        you<br>
        • keep you informed and updated about relevant products & services you may be 
        interested in<br>
        • improve our website and the range of services and products we provide<br>
        • provide you with useful information about data news, events and conferences<br>
        • administer your account<br>
        • provide you with your prescription safety eyewear<br>
        • let you know when your next eye test is due, reminding you to book a test if you’ve not 
        had one for a while<br>
        • respond to queries from you<br>
        • maintain records for tax, compliance with laws, defence of claims and other corporate 
        purposes<br>
        • For the avoidance of doubt, we do not store credit card details and only share payment  
        details with our payment gateway provider.<br>
        </p>
        <p>By submitting your email address you are consenting to receive the particular piece of information you requested, as well as allowing us to send you appropriate and useful communications. This includes, but is not limited to; monthly product updates, invitations to our industry leading events and webinars, our latest assets (whitepapers, guides, reports, infographics, videos and case studies) and promotional offers on products and services. We would also like to keep you abreast of the charity events and initiatives we partake in.</p>
        <p>At any time, you can update your preferences by clicking the link in any emails you receive from us. The link will always be in the footer of the email. You can also stop receiving emails from us using that same link. If you don’t have an email from us to hand and want to update your preferences, fill in the form below. We will send you an email for you to change your preferences as you wish.</p>
        <h4>Who we share your data with</h4>
        <p>We may share your personal data with our parent companies, subsidiaries and/or affiliates for purposes consistent with this Privacy Policy.</p>
        <p>We do not rent or sell your data to any other company without your prior consent other than those processors we use for our business operations who process your data under our control.</p>
        <p>In all cases the servers where your personal data is stored and processed are located in the European Economic Area or other areas where adequate standards of protection are in place in line with EU law.</p>
        <p>Under some circumstances we may be required to disclose or share your information without your consent, for example if we are required to by the police, the courts or for other legal reasons.</p>
        <h4>How we keep your personal information safe</h4>
        <p>We take our obligations to keep your personal data safe and secure very seriously.</p>
        <p>Within Globus Group, access to your personal information is strictly controlled on a ‘need to know’ basis. Staff members are only allowed access to your personal data if they have been sufficiently trained in data handling. We have specific technical controls in place to restrict access and these are monitored regularly.</p>
        <h4>How long we keep your personal information</h4>
        <p>We keep your personal information in line with our data retention policy, and we will retain your data for as long as we believe necessary.</p>
        <p>For data provided to us by our customers, we are governed by their data retention rules as specified in their privacy notices.</p>
        <p>In certain circumstances, we have a statutory obligation to keep your personal information for a set period of time.</p>
        <h4>How to keep your personal information up-to-date</h4>
        <p>It’s important for both you and us that your personal information is correct. If you believe this not to be the case, then please e-mail the amended details to privacy@globusgroup.com and we will contact you to verify your identity.</p>
        <h4>How you can find out about the information we hold about you</h4>
        <p>You have the right to request a copy of the information that we hold about you.</p>
        <p>If you would like a copy of some or all of your personal information, please email or write to us using the contact details in this policy.</p>
        <p>We will get in contact to verify your identity and if we do hold information about you we will:</p>
        <p>
        • give you a description of it
        • tell you why we are holding it
        • tell you who it could be shared with
        • let you have a concise and clear copy of the information
        • Our legal basis for processing your personal information
        </p>
        <p>Much of our processing will be under the basis of “contractual obligation” in other words we need and use your personal information for providing the services you have contracted with us to provide.</p>
        <p>However, when we are communicating with you regarding products and services you may be interested in receiving from us in the future, our basis for processing is our legitimate interest as we are communicating with you in the context of your corporate activity and identity and not in relation to your private life.</p>
        <h4>Asking us to suppress or remove your personal information</h4>
        <p>Should you wish to not receive information from us in future then you can quickly action this by clicking the unsubscribe link you will find on our marketing e-mails or by sending your details to privacy@globusgroup.com and we will quickly suppress your data.</p>
        <p>Should you further wish for us to remove your information entirely (and assuming we have no other obligation to keep it) then please let us know and we will do this – but we would encourage you to let us use it for suppression purposes only.</p>
        <h4>What to do if you have a complaint</h4>
        <p>If you have a complaint please contact us at privacy@globusgroup.com who will deal with your request promptly.</p>
        <p>If you are still not satisfied with the way your complaint was handled, you can refer your complaint to UK Information Commissioner’s Office: https://ico.org.uk/concerns/</p>
        <h4>Links to other websites</h4>
        <p>We link our website directly to other sites. This privacy notice does not cover the links within our site linking to other websites and organisations. We encourage you to read the privacy statements on the other websites you visit.</p>
        <h4>Changes to this privacy notice</h4>
        <p>We keep our privacy notice under regular review. This privacy notice was last updated on 24/04/2018.</p>
        '
    } %}

    {% include '_layout/block' with {'block': 'textContent', 'blockClass': 'py-14 lg:py-20', 'data': textContent} %}

{% endblock %}