{% extends "_layout/global" %}

{% block content %}

    {% include '_layout/block' with {'block': 'pageHeader', 'container': false, 'data': {'title': 'Showa', 'image': craft.assets().filename('SKY-APP-ARGON.jpg').one()}} %}

    {% set contentImageOne = {
        'image': craft.assets().filename('SKY-APP-ARGON.jpg').one(),
        'logo': {'url': siteUrl ~ 'uploads/images/Showa.svg', 'alt': 'enha'},
        'content': '<p>SHOWA® is synonymous with the highest degree of hand protection and innovation. SHOWA technology has forever changed the protective glove industry, what our hands are capable of and the impact they make on the environment.</p>
                    <p>Perfection is not a destination, it’s a journey driven by innovation; and by introducing several technological milestones in its glove styles, SHOWA has regularly raised the bar.</p>',
        'link': {'url': '#', 'title': 'View Our Products'},
        'reverse': true
    }
    
    %}

    {% include '_layout/block' with {'block': 'contentImage', 'blockClass': 'py-14 lg:py-20', 'data': contentImageOne} %}

    {% set contentImageTwo = {
        'image': craft.assets().filename('SKY-APP-TROMSO.jpg').one(),
        'title': 'About Showa',
        'content': '<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>',
        'link': {'url': '#', 'title': 'Download Our Catalogue'},
        
    }
    %}

    {% include '_layout/block' with {'block': 'contentImage', 'blockClass': 'pb-14 lg:pb-20', 'data': contentImageTwo} %}

    
    {% set contentImageThree = {
        'image': craft.assets().filename('SKY-APP-ARGON.jpg').one(),
        'title': 'Our History',
        'content': '<p>Quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo.</p>',
        'reverse': true
    }
    %}

    {% include '_layout/block' with {'block': 'contentImage', 'blockClass': 'pb-14 lg:pb-20', 'data': contentImageThree} %}

    {% set productCarouselData = {
        'title': 'Shop Showa Products',
        'type' : 'product',
        'items': [
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one(), 'tag': 'New in'},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
            {'href': '#', 'title': 'AREZZO™', 'subtitle': 'Showa', 'image': craft.assets().filename('SKY-ARGON.jpg').one()},
        ]
    }
    
    %}

    {% include '_layout/block' with {'block': 'postCarousel', 'blockClass': 'pb-14 lg:pb-28', 'data': productCarouselData} %}

    {% include '_layout/block' with {'block': 'bannerBackground', 'blockClass': 'pb-10', 'container': false} %}

{% endblock %}