 {#
    Download link
    link with chevron

    @type {include}
    @param {string} href
    @param {string} title
    @param {string} attributes

#}


<div>
    <a href="{{ href }}" {{ attributes }} class="no-underline download-link">
        {{ title }}
    </a>
</div>