 {#
    Filter Dropdown
    Filter dropdown trigger

    @type {include}
    @param {string} title

#}
{% if title is defined %}
    <button x-on:click="open = ! open" class="focus:outline-none relative block w-full py-3 pr-5 text-left font-extrabold text-base tracking-wide text-black" type="button">
        {{ title }}
        <span x-bind:class="{ 'rotate-180': open }" class="transform absolute pointer-events-none top-1/2 transform -translate-y-1/2" style="right: 2px; ">
            <svg width="9" height="5" xmlns="http://www.w3.org/2000/svg"><g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="02-Search-Results" transform="translate(-1340 -243)" fill="#000" fill-rule="nonzero"><path d="M1344.886 247.452l3.516-3.52a.546.546 0 00-.386-.932h-7.035a.546.546 0 00-.386.932l3.517 3.52c.213.213.56.213.774 0z" id=""/></g></g></svg>
        </span>
    </button>
{% endif %}