<div class="scroll-top w-13 h-13 border border-gray-200 rounded-full transition cursor-pointer hover:border-primary">
    <div class="transform -rotate-90">
        <svg width="12" height="12" xmlns="http://www.w3.org/2000/svg"><g id="Desktop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="01-Home" transform="translate(-331 -2097)" fill="#102257" fill-rule="nonzero"><path d="M336.969 2108.658l5.317-5.318a.305.305 0 000-.43l-5.317-5.318a.305.305 0 00-.431 0l-.503.503a.305.305 0 000 .431l3.939 3.939h-8.67a.305.305 0 00-.304.305v.71c0 .169.136.305.305.305h8.669l-3.939 3.939a.305.305 0 000 .43l.503.504a.305.305 0 00.43 0z" id="ï¡"/></g></g></svg>
    </div>
</div>