{#
   Card numbered
   Card for displaying steps

   @type {include}
   @param {string} title
   @param {string} description
#}

<div class="card-numbered">
    <div class="max-w-lg mx-auto text-center">
        <span class="flex items-center justify-center w-13 h-13 rounded-full mx-auto mb-6 border border-gray-200 text-black font-bold text-sxl bg-white">{{ loop.index }}</span>
        {% if title is defined %}
            <h4 class="mb-4 text-lg">{{ title }}</h4>
        {% endif %}
        {% if description is defined %}
            <div>{{ description | raw }}</div>
        {% endif %}
    </div>
</div>