{#
   Card Post
   Card for displaying posts

   @type {include}
   @param {object} href
   @param {object} image
   @param {string} title
   @param {string} subtitle
   @param {string} tag
#}

<div class="card-post text-left">
    {% if href is defined %}
        <a href="{{ href }}" class="block group">
    {% endif %}
            
            {% if image is defined %}
                <div class="relative overflow-hidden">
                    <div class="transition transform group-hover:scale-110">
                        {% include '_components/picture' with {'image': image, 'transform': 'post'} %}
                    </div>
                </div>
            {% endif %}

            <div class="py-5">
                <div class="inline-block mr-7 align-middle">
                    {% include '_components/tag/tagBasic' with {'text': '2 Min Read', 'icon': {'url': siteUrl ~ 'dist/images/icon-clock.svg', 'alt': 'clock'}} %}
                </div>
                <div class="inline-block align-middle">
                    {% include '_components/tag/tagBasic' with {'text': 'Category', 'icon': {'url': siteUrl ~ 'dist/images/icon-list.svg', 'alt': 'category'}} %}
                </div>
            </div>

            {% if title is defined %}
                <h5 class="text-sxl text-black mb-0">{{ title }}</h5>
            {% endif %}

    {% if href is defined %}
        </a>
    {% endif %}
</div>